<nz-card [nzTitle]="modalTitle">
    <form nz-form [formGroup]="createOrEditForm">

        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Tên</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                <input nz-input formControlName="name" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Ngày sinh</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                <input style="border-radius: 0;" class="form-control" type="date" formControlName="dob">       
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Số điện thoại</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                <input nz-input formControlName="phoneNumber" />
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Ngày bắt đầu</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                <input style="border-radius: 0;" class="form-control" type="date" formControlName="fromDate">
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Chức vụ</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                <cus-select [listSelect]="officeList" formControlName="officeId"
                    (onItemSelected)="setSelectedValue($event)"></cus-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Trạng thái</nz-form-label>
            <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." [nzErrorTip]="userErrorTpl">
                <cus-select [listSelect]="status" formControlName="status"
                (onItemSelected)="setStatusValue($event)"></cus-select>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control [nzOffset]="7" [nzSpan]="12">
                <button nz-button nzType="primary" [disabled]="!createOrEditForm.valid"
                    (click)="save()">Lưu</button>&nbsp;
                <button nz-button (click)="close()">Đóng</button>
            </nz-form-control>
        </nz-form-item>

    </form>

    <ng-template #userErrorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Giá trị bắt buộc</ng-container>
    </ng-template>
</nz-card>